<%- include('../partials/header') %>
<h2>Explorers List</h2>
<table>
  <thead>
    <tr>
      <th>Explorer Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <%explorers.forEach(explorer => {%>
      <tr>
        <td><%= explorer.name %></td>
        <td><%= explorer.age %></td>
      </tr>
    <%})%>
</table>
<%- include('../partials/footer') %>