<%- include('../partials/header') %>

<form action="/explorers" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Age:</label>
  <input type="number" name="age">
  <input type="submit" value="Add Explorer">
</form>



<%- include('../partials/footer') %>