<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
  <script>
function addPlanets(){
  window.location.href="/planets/new" ;
}
function seeAllPlanets(){
  window.location.href = "/planets";
}

  </script>
</head>
<body>
  <nav>
<div  class="button-container">
    <button class="btn" type="button" onclick="addPlanets()">
      <strong>ADD PLANETS</strong>
      <div id="container-stars">
        <div id="stars"></div>
      </div>
    
      <div id="glow">
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </button>
 <br><br><br><br><br><br>

    <button type="button" class="btn2" onclick="seeAllPlanets()">
      <strong>ALL PLANETS</strong>
      <div id="container-stars2">
        <div id="stars2"></div>
      </div>
    
      <div id="glow2">
        <div class="circle2"></div>
        <div class="circle2"></div>
      </div>
    </button>
  </div>
  </nav>
  <main>
    <h1><%= title %></h1>