<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul class="navbar">
        <li><a href="/planets">All Planets</a></li>
        <li><a href="/planets/new">Add Planet</a></li>
        <li><a href="/explorers/new">Add Explorer</a></li>
      </ul>
    </nav>
    <hr>