<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/planets">All Planets</a>
      <a href="/planets/new">Add Planet</a>
    </nav>