<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <nav class="top-bar">
    <a class="no-line" href="/planets/new">Create Planet |</a>
    <a class="no-line" href="/planets">Show All Planets |</a>
    <a class="no-line" href="/explorers/new">Create Explorer</a>
  </nav>
  <body></body>
</html>
