<!DOCTYPE html>
<html>
  <head>
    <title>NO TITLE HAHA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <nav>
    <a href="/planets/new">Add a new planet ☚</a> <br>
    <a href="/planets">All Planets in the milky way</a>
  </nav>

  <body>