
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <a href="/planets/new"> Add a new Planet </a>
    <a href="/planets"> All Planets </a>
  </nav>
  <body>
    