<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<nav>
  <h3><a href="/planets">Planets List</a></h3>
  <h3><a href="/planets/new">Add New Planet</a></h3>
  <h3><a href="/explorers/new">Recruit New Explorer</a></h3>
  <h3><a href="/explorers">Available Explorers</a></h3>
</nav>

<body>