<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
<nav>
  <a href="/planets/new">Add Planet</a>
  <a href="/planets">All Planets</a>
  <a href="/explorers/index">All Explorers</a>
  <a href="/explorers/new">Add a new Explorer</a>

</nav>