<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
   <nav>
    <a href="/planets/new">Add</a>
    <a href="/planets">View</a>
    <a href="/explorers/new">add explorer</a>
   </nav>
  <body>