<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <a href="/plants/new">Add a new planet</a>
    <a href="/planets">get all the planets</a>
  </nav>
  <body>