<!DOCTYPE html>
<html>
  <head>
    <title>Planets</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav><a href="/planets/new">Add A New Planet</a> <a href="/planets">Show All Planets</a></nav>
  <body>