<!DOCTYPE html>
<html>
  <head>
    <title>Planet</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/planets/new">Add a new planet </a>
      <a href="/planets">see all planet</a>
    </nav>