<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <a href="/planets/new">Add a new planet</a>
    <a href="/planets">All planets</a>
    <a href="/explorers/new">Add an explorer</a>
    <a href="/explorers">All explorers</a>
    
  </nav>
  <body>
   