<!DOCTYPE html>
<html>
  <head>
    <title>Planets</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav><a href="/planets/new">Add A New Planet</a> <a href="/planets">Show All Planets</a> <a href="/explorers">Show All Explorers</a> <a href="/explorers/new">Add A New Explorer</a> </nav>
  <body>