body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff0000;
}

#add-animal-form * {
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  color: #0d0343;
}
