<%- include('../partials/header') %>


  <section>
    <% planets.forEach(function(m) { %>

      <div class="boxPlanate">
        <a href="/planets/<%= m._id %>"
        }><button class="buttonPlanate" ><%= m.name %></button></a>
  <div class="spacePlanate">
    <span style="--i: 31" class="starPlanate"></span>
    <span style="--i: 12" class="starPlanate"></span>
    <span style="--i: 57" class="starPlanate"></span>
    <span style="--i: 93" class="starPlanate"></span>
    <span style="--i: 23" class="starPlanate"></span>
    <span style="--i: 70" class="starPlanate"></span>
    <span style="--i: 6" class="starPlanate"></span>
  </div>
</div>

        
     
      <% }); %>
 
  </section>
<%- include('../partials/footer') %>
