<%- include('../partials/header') %>
  <h1>Planets Discovered</h1>
  <hr>
  <% planets.forEach(element=> { %>
    <h3>
      <a href="/planets/<%= element._id %>">
        <%= element.name %>
      </a>
    </h3>
    <hr>
    <% }); %>
      <%- include('../partials/footer') %>