<%- include('../partials/header') %>

<h2>Planet List</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% planets.forEach(planet => { %>
      <tr>
        <td><a href="/planets/<%= planet._id %>"><%= planet.name %></a></td>
        </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>