<%- include('../partials/header') %>

<h2 id :"all-planet">ALL Planet</h2>
  <% planets.forEach(planet => { %> 

      <h2 class="planet-name"><a href="/planets/<%= planet._id %>"><%= planet.name %></a><br>
</h2>
      
      
    <% }) %>




<%- include('../partials/footer') %>
