<%- include('../partials/header') %>
<h1>Planets</h1>
<ol class="planets">
  <% planets.forEach((planet) => { %>
    <li><a href="/planets/<%= planet._id %>">
      <%= planet.name %></a></li>
  <% }) %>
    </ol>
<%- include('../partials/footer') %>
