<%- include('../partials/header') %>

<h2>Planets List</h2>
<ul>
    <%planets.forEach((p)=>{%>
      <li>
        <a href="/planets/<%=p._id%>" class="planets-links"><%= p.name %></a>
      </li>
    <%})%>
</ul>
    
<%- include('../partials/footer') %>

