<%- include('../partials/header')%>

    <h2>Add a New Planet</h2>
    <form action="/planets" method="POST">
      <label>Name:
        <input type="string" name="name">
      </label><br>
      <label>Climate:
        <input type="string" name="climate">
      </label><br>
      <label>Population:
        <input type="number" name="population">
      </label><br>
      <button type="submit">Add Planet</button>
    </form>
    <%- include('../partials/footer')%>