<%- include('../partials/header') %>
<h1>Add Planet</h1>
<form action="/planets" method="POST">
  <input type="text" name="name" placeholder="name">
  <br>
  <select name="climate">
    <option disabled>Select Climate</option>
    <option value="oceanic">Oceanic</option>
    <option value="tropical">Tropical</option>
    <option value="arctic">Arctic</option>
    <option value="desert">Desert</option>
    <option value="rainforest">Rainforest</option>
  </select>
  <br>
  <input type="number" name="population" min="0" max="9999999" placeholder="population">
  <br>
  <button type="submit">Submit</button>
</form>
<%- include('../partials/footer') %>