<%- include('../partials/header') %>

<form id="new-form" action="/planets" method="POST">
  
<input type="text" name="name" class="input" placeholder="Planet Name">
<br><br>

  <select name="climate">
    <option value="Oceanic">Oceanic</option>
    <option value="Tropical">Tropical</option>
    <option value="Arctic">Arctic</option>
    <option value="Desert">Desert</option>
    <option value="Rainforest">Rainforest</option>

  </select>
  <br><br>

  <input type="text" name="population" class="input" placeholder="Planet population">
  <br><br>  <br><br>

<div class="buttonMiddle">
  <button class="buttonADD"  type="submit" value="Add Planet">
    Add Plante
  </button>
</div>
</form>

<%- include('../partials/footer') %>
