<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <nav> 
      <a href="planets/new">Add a new planets</a>

    <a href="/planets">See all planets</a>
    </nav>
  </head>
  <body>