<%-include('../partials/header.ejs')%>

<h2>Enter a New Planet</h2>
<form id="new-form" action="/planets" method="POST">
  <label>Name:</label>
    <input type="text" name="name">
  <label>Climate</label>
    <select name="climate">
      <option value="Oceanic">Oceanic</option>
      <option value="Tropical">Tropical</option>
      <option value="Arctic">Arctic</option>
      <option value="Desert" selected>Desert</option>
      <option value="Rainforest">Rainforest</option>
    </select>
  <label>Population:</label>
    <input type="number" name="population">
    <input type="submit" value="Add Planet">
</form>

<%-include('../partials/footer.ejs')%>
