<%- include('../partials/header') %>

<h2>Planets List</h2>

<ol>
  <% planets.forEach((planet) => { %>
  <li id="planetName"><a href="/planets/<%= planet._id %>">&#127757; <%= planet.name %></a></li>
  <% }) %>
</ol>

<%- include('../partials/footer') %>