<%- include('../partials/header')  %>

<div id="newPlanetForm">
<h2>Enter a New Planet</h2>
<form action="/planets" method="POST">
    <input class="newInputs" type="text" name="name" placeholder="Planet Name">
  <br>

    <select class="newInputs" name="climate">
      <option value="Oceanic">Oceanic</option>
      <option value="Tropical">Tropical</option>
      <option value="Arctic">Arctic</option>
      <option value="Desert">Desert</option>
      <option value="Rainforest">Rainforest</option>
    </select>
  <br>

    <input class="newInputs" type="number" name="population" placeholder="Population">
  <br>

  <button id="submit" type="submit">Add Planet</button>

</form>
</div>
<%- include('../partials/footer')  %>
