<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h2>Enter a New Planet</h2>
  <form action="/planets" method="POST">
    <label>Name:
      <input type="text" name="name">
    </label><br>
    <label>climate:
      <input type="text" name="climate">
    </label><br>
    <label>population:
      <input type="number" name="population">
    </label><br>

    <button type="submit">Add Planet</button>
  </form>


</body>

</html>