<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/planets/new">Add a new planet</a>
      <a href="/planets">View all planets</a>
      <a href="/explorers/new">Add an explorer</a>
    </nav>
    <p>header</p>